extends layout

block content

  h1  Registered users

  div
    input(type="text", name="usersearch") 

    Showing latest registered users
    table.userlist
      thead
        td Email
        td Nickname
        td Wins
        td Has played
      tbody

    Winners
    table.winners
      thead
        td Email
        td Nickname
    